<h1> Here is your workout progress so far: </h1>

{{#each exercises}}

<p> {{exercises.name}} </p>
<p> {{exercises.reps}} </p>
<p> {{exercises.sets}} </p>
<p> {{exercises.weight}} </p>
<p> {{exercises.rpe}} </p>
<p> {{exercises.date}} </p>

{{/each}}
