<h1> Here is your workout progress so far: </h1>

<ul>
  {{#each exercises}}

    <li> Exercise Name: {{name}} </li>
    <li> Number of Reps: {{reps}} </li>
    <li> Number of Sets:{{sets}} </li>
    <li> Weight: {{weight}} </li>
    <li> RPE: {{rpe}} </li>
    <li> Date: {{date}} </li>
    <br>

  {{/each}}

</ul>
