<h1> Here is your workout progress so far: </h1>

<ul>
  {{#each exercises}}

    <li> Exercise Name: {{name}} </li>
    <li> Number of Reps: {{reps}} </li>
    <li> Number of Sets:{{sets}} </li>
    <li> Weight: {{weight}} </li>
    <li> RPE: {{rpe}} </li>
    <li> Date: {{date}} </li>
    <br>

  {{/each}}

</ul>

<h1> Total Experience Points Earned: {{experience}} </h1>

<svg class = "top-middle" width = "1000" height = "50">
    <rect width= {{experience}} height="100" style="fill:rgb(255,244,20)" />
</svg>

<h2> You are currently level: {{level}} </h2>

<h3 id = "avatar-desc"> Your Character Avatar: </h3>

<img src = {{icon}} class = "icon" height = "100" width = "100">
